.container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.tabela1{
  margin-left: 570px;
}

table {
    position: relative;
    margin-left: 450px;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    border: 4px;
    }
  
  .cabecalho {
    background: #dedede;
    color: #000000;
     border: 4px solid #ececec;
  }
  tbody {
    background: #F9F9F9;
  }
  
  .linha {
    background: #DDDDDD;
  }
  
  .coluna {
    background: #ececec;
  }
  
  th {
    border: 4px solid #dddddd;
  }
  
  td {
    border: 4px solid #FFFFFF; 
  }
  

  button {
    position: absolute;
    top: 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

button a:hover {
    text-decoration: underline;
}
